appdirs==1.4.3
click==6.7
docx==0.2.4
future==0.16.0
gi==1.2
lxml==3.7.3
nltk==3.2.2
olefile==0.44
packaging==16.8
pdfminer==20140328
Pillow==4.1.0
proselint==0.8.0
pyparsing==2.2.0
python-docx==0.8.6
requests==2.13.0
six==1.10.0
textstat==0.3.1
